-e .
colour-runner==0.0.5
coverage==4.3.1
dj-database-url==0.4.2
django>=1.10,<1.11
factory-boy==2.8.1
flake8-docstrings==1.0.2
flake8-import-order==0.11
flake8==3.2.1
future==0.16.0
incuna-test-utils==6.6.0
mock==2.0.0
psycopg2==2.6.2
pyflakes==1.4.0
