colour-runner==0.1.1
coveralls==3.1.0
coverage==5.5
dj-database-url==0.5.0
factory-boy==3.2.0
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8==3.9.2
incuna-test-utils==8.0.0
pip==22.3
psycopg2-binary==2.8.6
pyflakes==2.3.1
pycodestyle==2.7.0
setuptools==70.0.0
twine==3.4.1
wheel==0.36.2
