colour-runner==0.1.1
coveralls==1.8.0
coverage==7.4.3
dj-database-url==0.5.0
factory-boy==3.3.0
flake8-docstrings==1.7.0
flake8-import-order==0.18.2
flake8==7.0.0
incuna-test-utils==8.0.0
psycopg2-binary==2.9.9
pyflakes==3.2.0
pycodestyle==2.11.1
setuptools==69.1.1
twine==5.0.0
wheel==0.42.0
